.blog-entry
  %h1
    %a{:href => to("/entry/#{@e.id}/"), :class => 'entry-title'}= @e.title
  %p= @e.created_at
  .panel.panel-default
    .panel-body
      %p= find_and_preserve(@e.body)
      - if @e.read_more then
        %a{:href => to("/entry/#{@e.id}/")}
          %button.btn.btn-warning= 'More'
    .panel-footer
      -# %div= "<a href=\"https://twitter.com/share\" class=\"twitter-share-button\" data-url=\"#{to("/blog/entry/#{@e.id}/")}\" data-text=\"#{@e.title} - Sinji's View\" data-via=\"NKMR_YA\">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>"
      %div
        = 'カテゴリー:'
        - @e.category.each do |category|
          = '&nbsp;'
          %a{:href => to("/category/#{category}/")}><
            = category
          = ','
      %div
        = 'コメント '
        %span.badge= @e.comment_num
