.blog-entry
  %h1
    %a{:href => to("/entry/#{@e.id}/")}= @e.title
  %p= @e.date
  .panel.panel-default
    .panel-body
      %p= find_and_preserve(@e.text)
      - if @e.read_more then
        %a{:href => to("/entry/#{@e.id}/")}
          %button.btn.btn-warning= 'More'
    .panel-footer
      %div
        = 'カテゴリー:'
        - @e.categories.each do |category|
          = '&nbsp;'
          %a{:href => to("/category/#{category}/")}><
            = category
          = ','
      %div
        = 'コメント '
        %span.badge= @e.comment_num
