!!! 5
%html{html_attrs('ja')}
  %head
    %meta{:charset => 'utf-8'}
    %title= "#{@page_title}"
    %link{:href => to('/css/bootstrap.css'), :rel => 'stylesheet'}
    %link{:href => to('/css/BlogGem.css'), :rel => 'stylesheet'}
    %link{:href => to('/css/google-code-prettify/prettify.css'), :rel => 'stylesheet'}
    /[if lt IE 9]
      %script{:src => 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}
      %script{:src => 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'}
  %body
    .title-header
      .container
        %h1
          = "Sinji"
          %span{:style => 'color:coral;'}>= "'"
          = "s View"
          %small= '酒田　シンジの目線'
    .tab
      .container
        %ul.nav.nav-tabs
          - @tab.each do |t|
            %li{:class => t.css_class, :style => t.style}
              - if t.css_class == 'dropdown' then
                %a(href="#{t.href}" data-toggle='dropdown' class='dropdown-toggle')
                  = t.name
                  %span.caret
                %ul.dropdown-menu
                  - t.dropdown.each do |drop|
                    %li{:class => drop.css_class}
                      %a{:href => drop.href}= drop.name
              - else
                %a{:href => t.href}= t.name
    .container
      - if @sidebar == 'active' then
        .col-sm-9
          = yield
        .col-sm-3{:style => 'margin-top:60px;'}
          = haml :_blog_sidebar
      - else
        = yield
    .page-footer
      .container
        .social
          %span= "<a href=\"https://twitter.com/share\" class=\"twitter-share-button\" data-url=\"http://sinjis-view.mydns.jp\" data-text=\"Sinji's View　酒田　シンジの目線\" data-via=\"NKMR_YA\">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>"
        %p= "Copyright (C) 2012 - #{@year}&nbsp;&nbsp;SAKATA Sinji&nbsp;&nbsp;All Rights Reserved."
        %p= "Powered by #{link_to('https://www.ruby-lang.org/ja/', 'Ruby')}, #{link_to('http://www.sinatrarb.com/', 'Sinatra')} and #{link_to('http://getbootstrap.com/', 'Bootstrap')}."
    %script{:src => 'https://code.jquery.com/jquery.js'}
    %script{:src => to('/js/bootstrap.min.js')}
    %script{:src => to('/js/BlogGem.js')}
    %script{:src => to('/css/google-code-prettify/prettify.js')}
    %script= 'prettyPrint();'