.page-header
  %h1= 'Tab Edit'
%form{:role => 'form', :method => 'post', :action => './save'}
  - count = 0
  - @tabs.each do |t|
    - count += 1
    .form-inline
      .col-sm-2
        %label= count
      .col-sm-4
        %input.form-control{:name => 'label[]', :type => 'text', :value => t.label}
      .col-sm-4
        %input.form-control{:name => 'address[]', :type => 'text', :value => t.address}
      .col-sm-2
        %input.form-control{:name => 'parent[]', :type => 'text', :value => t.parent_id}
  .form-group
    %button.btn.btn-default{:type => 'submit', :value => 'save'}= 'Save'
%form.form-inline{:role => 'form', :method => 'post', :action => './new', :style =>'margin-top:30px;'}
  %label= 'Add tab'
  .form-group
    %input.form-control{:name => 'label', :type => 'text', :placeholder => "label"}
  .form-group
    %input.form-control{:name => 'address', :type => 'text', :placeholder => "address"}
  .form-group
    %input.form-control{:name => 'parent', :type => 'text', :placeholder => "parent id"}
  .form-group
    %button.btn.btn-default{:type => 'submit', :value => 'add'}= 'Add'