<div class="panel">
  <div class="panel-heading">
    <a class="titleFont" href="<%= to("/blog/entry/#{@e.id}/") %>"><h2><%= @e.title %></h2></a>
    <%= @e.date %>
  </div>

  <div class="panel-body">
    <% if @e.thumbnail then %>
    <p><img src="<%= to(@e.thumbnail) %>" /></p>
    <% end %>
    <p><%= @e.text %></p>
    <% if @e.read_more then %>
    <a href="<%= to("/blog/entry/#{@e.id}/") %>"><button class='btn btn-primary'>続きを読む</button></a>
    <% end %>
  </div>

  <div class="panel-footer">
    カテゴリー:
    <% @e.categories.each do |category| %>
    <a href"<%= to("/blog/category/#{category}/") %>">&nbsp;<%= category %>,</a>
    <% end %>
    <br />
    コメント<span class='badge'><%= @e.comment_num %></span>
  </div>
</div><!-- panel -->
