<div class="panel">
  <div class="panel-heading">
    <% if @entry.kind_of?(Array) then %>
    <a class="titleFont" href="<%= to("/blog/entry/#{@e.id}/") %>"><h2><%= @e.title %></h2></a>
    <% else %>
    <a class="titleFont" href="<%= to("/blog/entry/#{@e.id}/") %>"><h1><%= @e.title %></h1></a>
    <% end %>
    <%= @e.date %>
  </div>

  <div class="panel-body">
    <% unless nil_or_blank?(@e.thumbnail) then %>
    <p><img src="<%= to(@e.thumbnail) %>" /></p>
    <% end %>
    <p><%= @e.text %></p>
    <% if @e.read_more then %>
    <a href="<%= to("/blog/entry/#{@e.id}/") %>"><button class='btn btn-primary'>続きを読む</button></a>
    <% end %>
  </div>

  <div class="panel-footer">
    <div><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= to("/blog/entry/#{@e.id}/") %>" data-text="さんだぶ - <%= @e.title %>" data-lang="ja">ツイート</a></div>
    カテゴリー:
    <% @e.categories.each do |category| %>
    &nbsp;<a href="<%= to("/blog/category/#{category}/") %>"><%= category %></a>,
    <% end %>
    <br />
    コメント<span class='badge'><%= @e.comment_num %></span>
  </div>
</div><!-- panel -->
