%strong
  %i.glyphicon.glyphicon-comment
  = "Comments"
%hr
  .list-group
  - @comment.each do |c|
    .list-group-item
      - entry = Entry.find(c.entry_id)
      %p<
        %i.glyphicon.glyphicon-user
        %strong= " #{c.name}"
        %br>
        %i.glyphicon.glyphicon-time
        = "&nbsp;#{c.created_at}"
        %br>
        %i.glyphicon.glyphicon-book
        %strong= entry.title
      %p= c.body
      - if c.allow == 0 then
        - button_class = 'btn btn-warning'
        - button_label = '承認する'
        - button_script = 'allow_comment(this)'
      - else
        - button_class = 'btn btn-default'
        - button_label = '公開中'
        - button_script = 'deny_comment(this)'
      %button{:id => c.id, :class => button_class, :onClick => button_script}= button_label
