%form{:name => 'edit_form', :ole => 'form', :method => 'post', :action => './post', :onSubmit => "return check_form_dual('title', 'entry')"}
  .form-group
    %label
      %i.glyphicon.glyphicon-th-list
      = '&nbsp;Title'
    %input{:name => 'title', :type => 'text', :class => 'form-control', :placeholder => 'title', :value => "#{@title}"}
  .form-group
    %label
      %i.glyphicon.glyphicon-picture
      = '&nbsp;Thumbnail URL'
    %input{:name => 'thumbnail', :type => 'text', :class => 'form-control', :placeholder => 'thumbnail', :value => "#{@thumbnail}"}
  .form-group
    %label
      %i.glyphicon.glyphicon-pencil
      = '&nbsp;Entry'
    %textarea{:name => 'entry', :class => 'form-control', :rows => '20'}= @body
    .btn-group{:style => 'margin-top: 10px;'}
      %button{:type => 'button', :class => 'btn btn-default', :onClick => "add_str_at_cursor('entry', '[read_more]');"}= '[read_more]'
  .form-group{:style => "margin-top:20px;"}
    %label
      %i.glyphicon.glyphicon-tags
      = '&nbsp;Category'
    - @category.each do |c|
      .checkbox
        %label
          - if @entryCategory.include?(c.id.to_s) then
            - checked = ''
          %input{:type => 'checkbox', :name => 'category[]', :value => c.id, :checked => checked}= c.name
  .form-group{:style => 'margin-top:30px;'}
    - create_form_buttons().each do |property|
      %button{property}= property[:name]
%div{:style => "margin-top:40px"}
  .alert.alert-success{:id => 'success', :style => 'display:none;'}
  .alert.alert-danger{:id => 'error', :style => 'display:none;'}
    %strong= 'Error'
    = '入力項目を確認してください。'
  %form.form-inline{:action => "javascript:;"}
    %label
      = "File upload"
    .form-group
      %input.form-control{:type => "file", :id => "file"}
    %button.btn.btn-default{:id => "update", :type => "submit"}
      = "Upload"
