%strong
  %i.glyphicon.glyphicon-cog
  = " Settings"
%hr
  - if params[:status] == "success" then
    .alert.alert-success
      %strong= 'Complete'
      = ' Settings are saved.'
  %form{:role => "form", :method => "post", :action => "./save"}
    .form-group
      %label= "Blog Title"
      %input.form-control{:name => "blog title", :type => "text", :value => @settings["blog title"]}
    .form-group
      %label= "Sub Title"
      %input.form-control{:name => "sub title", :type => "text", :value => @settings["sub title"]}
    .form-group{:style => "margin-top:40px;"}
      %label= "Since year"
      %input.form-control{:name => "since", :type => "text", :value => @settings["since"]}
    .form-group
      %label= "Copyright holders"
      %input.form-control{:name => "copyright", :type => "text", :value => @settings["copyright"]}
    .form-group{:style => "margin-top:40px;"}
      %label= "Auto comment approval"
      %input{:name => "comment approval", :type => "checkbox", :value => "true", :checked => @settings["comment approval"]}
    %button.btn.btn-primary{:type => "submit", :value => "save"}= "Save"
